<head layout:fragment="head"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Admin panel</title>

    <link href="/assets/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/assets/vendors/select2/dist/css/select2.min.css" rel="stylesheet">
    <link href="/assets/vendors/switchery/dist/switchery.min.css" rel="stylesheet">
    <link href="/assets/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
    <link href="/assets/build/css/custom.min.css" rel="stylesheet">
</head>