<section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center mb-5 pb-3">
      `
      <div class="col-md-7 heading-section ftco-animate text-center">
        <h2 class="mb-4">Recent from blog</h2>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind
          texts.</p>
      </div>
    </div>
    <div class="row d-flex">

      <div *ngFor="let post of posts" class="col-md-4 d-flex ftco-animate">
        <div class="blog-entry align-self-stretch">
          <a href="{{ post.href }}" class="block-20"
             [ngStyle]="{'background-image': 'url(' + post.image + ')'}">
          </a>
          <div class="text py-4 d-block">
            <div class="meta">
              <div><a href="{{ post.href }}">{{ post.createdAt | date: "dd MMMM y" }}</a></div>
              <div><a href="{{ post.href }}#comments" class="meta-chat"><span
                class="icon-chat"></span> {{ post.commentCount }}</a></div>
            </div>
            <h3 class="heading mt-2"><a href="{{ post.href }}">{{ post.title }}</a></h3>
            <p>{{ post.shortDescription }}</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
