<section class="home-slider owl-carousel img" style="background-image: url(../../../assets/images/bg_1.jpg);">

  <div class="slider-item" style="background-image: url(../../../assets/images/bg_3.jpg);">
    <div class="overlay"></div>
    <div class="container">
      <div class="row slider-text justify-content-center align-items-center">

        <div class="col-md-7 col-sm-12 text-center ftco-animate">
          <h1 class="mb-3 mt-5 bread">{{ page?.title }}</h1>
          <p class="breadcrumbs">
            <span class="mr-2"><a href="/">Home</a></span>
            <span>{{ page?.title }}</span>
          </p>
        </div>

      </div>
    </div>
  </div>
</section>

<section class="ftco-section ftco-services">
  <div class="overlay"></div>
  <div class="container">
    <div [innerHTML]="page?.description | safeHtml"></div>
  </div>
</section>
