<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/default">
<body>

<div id="page" layout:fragment="content">

    <!-- page content -->
    <div class="right_col" role="main">
        <div>
            <div class="clearfix"></div>

            <div class="row">

                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>CATEGORIES</h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <table id="datatable-checkbox" class="table table-striped table-bordered bulk_action">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Action</th>
                                </tr>
                                </thead>

                                <tbody>
                                <tr th:each="category: ${categories}">
                                    <td th:text="${category.categoryId}"></td>
                                    <td th:text="${category.name}"></td>
                                    <td><a th:href="'/admin/categories/edit/' + ${category.categoryId}">Edit</a> | <a
                                            th:href="'/admin/categories/delete/' + ${category.categoryId}">Delete</a></td>
                                </tr>

                                </tbody>
                            </table>
                            <a class="btn btn-primary text-right" href="/admin/categories/create">Add category</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /page content -->

</body>
</html>