<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/default">
<body>

<div id="page" layout:fragment="content">

    <!-- page content -->
    <div class="right_col" role="main">
        <div>
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2 th:text="'Order #' + ${order.orderId}"></h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <br/>
                            <form id="form-init" enctype="multipart/form-data"
                                  th:action="${action}" th:object="${order}" method="post"
                                  data-parsley-validate
                                  class="form-horizontal form-label-left">

                                <div class="form-group">
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12">
                                        First Name
                                        <span class="required">*</span>
                                    </label>
                                    <div class="col-md-10 col-sm-10 col-xs-12">
                                        <input type="text" th:field="${order.firstName}" required="required"
                                               class="form-control col-md-7 col-xs-12">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12">
                                        Last Name
                                        <span class="required">*</span>
                                    </label>
                                    <div class="col-md-10 col-sm-10 col-xs-12">
                                        <input type="text" th:field="${order.lastName}" required="required"
                                               class="form-control col-md-7 col-xs-12">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12">
                                        Email
                                        <span class="required">*</span>
                                    </label>
                                    <div class="col-md-10 col-sm-10 col-xs-12">
                                        <input type="text" th:field="${order.email}" required="required"
                                               class="form-control col-md-7 col-xs-12">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12">
                                        Shipping Method
                                        <span class="required">*</span>
                                    </label>
                                    <div class="col-md-10 col-sm-10 col-xs-12">
                                        <input type="text" th:field="${order.shippingMethod}" required="required"
                                               class="form-control col-md-7 col-xs-12">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12">
                                        Payment Method
                                        <span class="required">*</span>
                                    </label>
                                    <div class="col-md-10 col-sm-10 col-xs-12">
                                        <input type="text" th:field="${order.paymentMethod}" required="required"
                                               class="form-control col-md-7 col-xs-12">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12">
                                        Comment
                                    </label>
                                    <div class="col-md-10 col-sm-10 col-xs-12">
                                                <textarea class="resizable_textarea form-control"
                                                          style="min-height:100px"
                                                          th:field="${order.comment}"></textarea>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12">
                                        Date
                                    </label>
                                    <div class="col-md-10 col-sm-10 col-xs-12 xdisplay_inputx has-feedback">
                                        <input th:field="${order.orderDate}" type="text"
                                               class="form-control has-feedback-left" id="single_cal2"
                                               aria-describedby="inputSuccess2Status2">
                                        <span class="fa fa-calendar-o form-control-feedback left"
                                              aria-hidden="true"></span>
                                        <span id="inputSuccess2Status2" class="sr-only">(success)</span>
                                    </div>
                                </div>

                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div class="col-md-offset-2">
                                        <table class="table">
                                            <thead>
                                            <tr>
                                                <th scope="col">Product</th>
                                                <th scope="col">Quantity</th>
                                                <th scope="col">Price</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="product: ${order.orderProducts}">
                                                <td th:text="${product.productName}"></td>
                                                <td th:text="${product.quantity}"></td>
                                                <td th:text="'$' + ${product.price}"></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div class="col-md-12 col-sm-12 col-xs-12 col-md-offset-2">
                                        <div style="padding-bottom: 10px"><b>Subtotal:</b><br> $<span
                                                th:text="${order.subtotal}"></span></div>
                                        <div><b>Total:</b><br> $<span th:text="${order.total}"></span></div>
                                    </div>
                                </div>

                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div class="col-md-12 col-sm-12 col-xs-12 col-md-offset-2">
                                        <button type="submit" style="min-width:150px; min-height:40px"
                                                class="btn btn-success">Submit
                                        </button>
                                    </div>
                                </div>

                                <input type="hidden" th:field="${order.orderId}"/>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- /page content -->

</div>
</body>
</html>